html, body{
    content:"";
    width:100%;
    height:100%;
    font-size: 16px;
    margin: 0;
    padding: 0;
    display:block;
    font-family: 'Roboto', sans-serif;
    background-image: url("../img/sl_bg.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
}

li{
    margin-left: 0;
    margin-right: 0;
}

.opacitySection{
    background-color: rgba(255,255,255,0.8);
}

.searchCandidates{
    height: 100%;
    padding-bottom: 10px;
    background-color: #FFF;
    margin-top: 10px;
}

.recChatHeight{
    height: calc(100vh - 57px);
}

.register-page{
    background-color: rgba(255,255,255,0.8);
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
}

.adminSection{
    background-color: #FFFFFF;
}

.opacitySectionHigh{
    background-color: rgba(255,255,255,0.9);
}

.sectionHeader{
    background-color: #1CC095;
    color: #FFFFFF;
}

#root{
    height: auto;
}

.jumbotron{
    margin-bottom: 0;
    border-radius: 0px;
}

.parallax{
background-image: url("../img/sl_bg.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
}

.login-form{
    background: #FFFFFF;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.transparent-btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.userprofile{
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
}

.editprofile-page{
    height: 100vh;
    margin-left: 10%;
    margin-right: 10%;
    
}

.darkColorLabel{
    color: #333;
}

.skill-tag{
    color: white;
    background-color: #6EC8C8;
    font-size: 20px;
}

.skill-tag-smaller{
    color: white;
    background-color: #6EC8C8;
    font-size: 14px;
    margin-top: 2px;
}

.solution-toolbar-icon-delete{
    color: red;
}

.headertext{
    font-size: 36px;
    margin: 1rem;
}

.headertext-small{
    font-size: 24px;
    margin-right: 0.6rem;
    margin-bottom: 0.6rem;
    margin-top: 0.6rem;
}

.solution-container{
    padding: 10px;
    margin-top: 20px;
}

.hideForm{
    display: none;
}

.col{
    flex-basis: auto;
}

.promo-block{
    margin: 0 auto;
}

.edit-icon{
    position: absolute;
    top: 68px;
    right: 11%;
}

.chat-messages{
    overflow-y: scroll;
    height: calc(100vh - 92px);
}

.chat-icon{
    position: absolute;
    top: 128px;
    right: 11%;
}

.delete-icon{
    position: relative;
    top: 5px;
    right: 11%;
}

.cards-container {
    column-break-inside: avoid;
}

.card {
    display: inline-block;
    overflow: visible;
    width: 280px;
}

.self-intro{
    white-space: pre-wrap;
    padding: 10px;
}

.solution-box{
    padding: 5px;
}

.skills-box{
    padding: 10px;
}

.sollib-section{
    margin-bottom: 10px;
    /*padding: 10px;*/
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}

ul{
    margin: 0;
}

.favlist-container{
    width: 200px;
}

.chat-list{
    background-color: #333 !important;
    color: white;
}

.favListHeader{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 100%;
    color: white;
    border-bottom: 1px solid white;
}

.chat-body{
    height: 100vh;
    overflow-y: auto;
}

.sollib-section-header{
    font-size: 28px;
}

.cardAdmin{
    margin: 0 auto;
}

.sollib-box{
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    transition: box-shadow 83ms;
}


.collection {
    margin: .5rem 0 1rem 0;
    border: none;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.chatContainer{
    width: calc(100% - 200px);
}

.chatmessage-bubble{
    border: none;
    padding: 10px;
    margin: 10px;
    min-width: 150px;
    background-color: #1CC095;
    width: 33%;
    border-radius: 25px;
    color: white;
    white-space: pre-wrap;
}

.messageinput-button{
    position: relative;
    display: inline-block;
}

.contact-item:hover{
    background-color: #E57373;
}

.goto-right-msg{
    position: relative;
    left: 78%;
}

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #bdbdbd; 
}

::-webkit-scrollbar-thumb {
    background: #32465A;
}

td:not(:first-child) {
    padding-top:20px;
    padding-bottom:20px;
    padding-right:20px;       
  }

  textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

@media screen and (max-width: 600px) {
    .favlist-container {
      width: 80px;
    }

    .chatContainer{
        width: calc(100% - 80px);
    }
  }